/* ------All Common CSS Start------ */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, a:hover{
    display: inline-block;
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}
.bodyFlex{
    display: flex;
}
.textCntr{
    text-align: center!important;
}

/* Font css start  */

.fontMon{
    font-family: "Montserrat", sans-serif;
}

.fontPop{
    font-family: "Poppins", sans-serif;
}

.fs_xxsml{
    font-size: 10px;
    line-height: 12.19px;
}
.fs_xsml{
    font-size: 12px;
    line-height: 18px;
}
.fs_sml{
    font-size: 13px;
    line-height: 20px;
}
.fs_mdm{
    font-size: 14px;
    line-height: 20px;
}
.fs_lg{
    font-size: 16px;
    line-height: 24px;
}
.fs_xlg{
    font-size: 18px;
    line-height: 24px;
}
.fs_xxlg{
    font-size: 20px;
    line-height: 1;
}

/* Font css start  */
/* ----------------------------- */
/* Color css start  */
.whiteClr{
    color: #ffffff;
}
.primaryClr{
    color: #606060;
}
.secondaryClr{
    color: #000022;
}
.darkClr{
    color: #414F65;
}
.lightClr{
    color: #F2F3F4;
}
.activeClr{
    color: #1EA2CA;
}
.availableClr{
    color: #00BCBA;
}
.usedClr{
    color: #0171BC;
}

.whiteBg{
    background: #ffffff;
}
.primaryBg{
    background: #606060;
}
.secondaryBg{
    background: #000022;
}
.lightBg{
    background: #F2F3F4;
}
.activeBg{
    background: #1EA2CA;
}
.availableBg{
    background: #00BCBA;
}
.usedBg{
    background: #0171BC;
}
/* Color css End  */

/* Padding Custom css start  */

/* Padding Custom css end  */

/* ------All Common CSS End------ */

/* ------Navigation Bar css start -----  */
.navbar{
    width: 25%;
    padding: 23px 0px 30px;
}
.logoDiv{
    width: 53px;
    height: 53px;
    padding: 11px 7px 0px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.logoDiv img{
    width: 100%;
}
.dashbordText {
    width: 97%;
    margin: 0px 0px 0px auto;
    border-radius: 6px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.dashbordText::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 4px;
    height: 100%;
    background-color: #1EA2CA;
    border-radius:0px 6px 6px 0px;
    -webkit-border-radius:0px 6px 6px 0px;
    -moz-border-radius:0px 6px 6px 0px;
    -ms-border-radius:0px 6px 6px 0px;
    -o-border-radius:0px 6px 6px 0px;
}
.menuList li>a, .menuList li>ul>li>a{
    color: #ffffff!important;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-expand-lg .navbar-collapse {
    width: 100%;
    padding: 0px 30px;
}
.dropdown-menu {
    --bs-dropdown-padding-x: .5rem;
    --bs-dropdown-padding-y: 0rem;
    --bs-dropdown-spacer: 0rem;
    /* display: block; */
}
.dropdown-menu.dropdownSubMenu{
    --bs-dropdown-padding-x: .5rem;
    --bs-dropdown-padding-y: 0rem;
    --bs-dropdown-spacer: 0rem;
    display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: inherit;
    background-color: transparent;
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 700;
}
.menuDevider {
    height: 1px;
    width: 130%;
    background: #ffffff;
    /* border-bottom: 1px solid #ffffff;
    opacity: 1; */
    margin: 19px 0px 20px ;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position:relative;
}
/* .menuDevider {
    height: 1px;
    margin: var(--bs-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid blueviolet;
    opacity: 1;
} */
/* ----Navigation Bar css end -----  */

/* -----------User Nav CSS------  */
.userInfoImg{
    height: 76px;
    width: 76px;
    background: #D9D9D9;
    line-height: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.userNav{
    padding: 30px 0px;
}
.userImage {
    object-fit: cover;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.blueShadow{
    box-shadow: 1px 4px 10px #1F64FF40;
}
.blueShadowHover{
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.blueShadowHover:hover{
    box-shadow: 1px 4px 10px #1F64FF40;

}

/* -----------User Nav CSS------  */
/* ----------------------------- */
/* ----- Dashboard Info Section Start ------ */
.dashboardSection{
    width: 100%;
    background: url(../assets/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.dboardData{
   border-top: 2px solid #606060;
   padding: 10px 0px 30px;
}
.informationBar{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.informationBar .fa-angle-right{
    color: #AAB2C8!important;
}
.infoIcon{
    width: 42px;
    height: auto;
}
.blackShadow{
    box-shadow: 1px 4px 10px #00000040;
}
.cpuCard{
    background: #F2F3F4;
    margin-top: 5px;
    margin-bottom: 15px;
}
.cpuImg{
  mix-blend-mode: multiply;
}
.dashBordItemTitle{
    color: #414F65;
}
.cnItem{
    margin-top: 40px;
}
.deviderBold{
    width: 2px;
    height: 50%;
    background: #414F65;
    margin: 0px 15px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.itemCard{
    width: 32%;
    padding: 28px 24px 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.itemCardBtn{
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.itemCardBtn:hover{
   background: #ffffff;
   color: #414F65;
   box-shadow: 1px 4px 10px #1F64FF40;
}
/* ----- Dashboard Info Section End ------ */
/* ---------------------------  */
/* --------  Resourse Section Start -----  */
.progress, .progress-stacked {
    height: 23px;
    margin-top: -3px;
}
.progress-bar{
    height: 18px;
    margin: 5px 0px 1px;
    align-items: flex-end;
    padding-right: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
th,td{
    width: 16.5%;
    text-align: center;
}
th{
    background: #F2F3F4!important;
    padding: 20px 0px 15px !important;
}
td{
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #000022;
}
.table-bordered{
    border: 2px solid #606060;
}
.table-bordered>:not(caption)>*>* {
    border-width: 2 var(--bs-border-width);
}

.rsosIndicator{
    height: 12px;
    position: relative;
    width: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.rsosIndicator::before {
    content: '';
    width: 20px;
    height: 20px;
    background: transparent;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.indicatorOne{
    background: #0171BC;
}
.indicatorOne.rsosIndicator::before{
    border: 1px solid #0171BC;
    transform: translate(-48%, -48%);
    -webkit-transform: translate(-48%, -48%);
    -moz-transform: translate(-48%, -48%);
    -ms-transform: translate(-48%, -48%);
    -o-transform: translate(-48%, -48%);
}
.indicatorTwo{
    background: #00BCBA;
}
.indicatorTwo.rsosIndicator::before{
    border: 1px solid #00BCBA;
    transform: translate(-48%, -48%);
    -webkit-transform: translate(-48%, -48%);
    -moz-transform: translate(-48%, -48%);
    -ms-transform: translate(-48%, -48%);
    -o-transform: translate(-48%, -48%);
}
.indicatorThree{
    background: #1EA2CA;
}
.indicatorThree.rsosIndicator::before{
    border: 1px solid #1EA2CA;
    transform: translate(-52%, -48%);
    -webkit-transform: translate(-52%, -48%);
    -moz-transform: translate(-52%, -48%);
    -ms-transform: translate(-52%, -48%);
    -o-transform: translate(-52%, -48%);
}

/* --------  Resourse Section END -----  */
/* ---------------------------  */